<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
    <title>Shuvra's Url Shortner</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
         <div class="navbar-nav ">
             <a class="nav-item nav-link p-3 mb-2 bg-dark text-white " href="{{url_for('index')}}">SC Shortener</a>
         </div>

    </nav>
{% block content %}
{% endblock %}
</body>
</html>
